html, body {
  background: linear-gradient(180deg, #f0f6e8, #e39aac);
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 50px; /* spacing between images */
}

#scoreboard, #notification {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.choice {
  width: 100px;   /* same width for all images */
  height: 100px;  /* same height */
  cursor: pointer; /* changes cursor on hover to indicate clickable */
  transition: transform 0.3s ease ;  /* smooth hover transition */
  transform: rotate(-35deg);
}

.choice:hover {
  transform: scale(1.2) rotate(-45deg); /* enlarge and rotate on hover */
}

#winner-notification {
  text-align: center;
  font-size: 2em;
  /* color: gold; */
  background: darkblue;
  padding: 10px 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 15px gold; */
  margin-top: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* hidden by default */
}

.winner-animate {
  transform: scale(1.5);
}