html, body {
  background: linear-gradient(180deg, #f0f6e8, #e39aac);
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 50px; 
}

#scoreboard, #notification {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.choice {
  width: 100px;   
  height: 100px;  
  cursor: pointer; 
  transition: transform 0.3s ease ;  /* smooth hover transition */
}

.choice:hover {
  transform: scale(1.2) rotate(-45deg); /* enlarge and rotate on hover */
}

#winner-notification {
  text-align: center;
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.winner-animate {
  transform: scale(1.5);
}